<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Yaksonhc Dashboard</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <style>
	    body{color:black;}
	    #wrapper{background-color:white; margin:5%;}
	    #wrapper #content-wrapper{background-color:white;}
	    .card-header{background-color:white;}
    </style>
    
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="card-header">
                        <h5 class="h3 mb-0 text-gray-800">마인드호 탑승 안내서</h5>
                    </div>

                   	<!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-3">
                        	<div class="">
                        		<div class="card-header">
                                    <h2 class="m-1 font-weight-bold">1. 회사소개</h2>
                                </div>
                        		<div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> &#128539; 마인드리퍼블릭은? </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 미션과 비젼 [2023] </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 사무실 내부 소개 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 지문인식 출입시스템 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 취업규칙 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 사무실 주차 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 오시는길 안내 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 손님응대 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 물류센터 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 승진시스템 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 연봉체계 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 자주 물어보는 질문 (FAQ) </div><br>
                                        </div>
                                    </div>
                                </div>
                        	</div>
                        </div> 
                        <div class="col-lg-3">
                        	<div class="">
                        		<div class="card-header">
                                    <h2 class="m-1 font-weight-bold">2. 문화복지</h2>
                                </div>
                        		<div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 마인드리퍼블릭은? </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 미션과 비젼 [2023] </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 사무실 내부 소개 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 지문인식 출입시스템 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 취업규칙 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 사무실 주차 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 오시는길 안내 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 손님응대 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 물류센터 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 승진시스템 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 연봉체계 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 자주 물어보는 질문 (FAQ) </div><br>
                                        </div>
                                    </div>
                                </div>
                        	</div>
                        </div> 
                        <div class="col-lg-3">
                        	<div class="">
                        		<div class="card-header">
                                    <h2 class="m-1 font-weight-bold">3. 업무 TOOL</h2>
                                </div>
                        		<div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 마인드리퍼블릭은? </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 미션과 비젼 [2023] </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 사무실 내부 소개 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 지문인식 출입시스템 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 취업규칙 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 사무실 주차 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 오시는길 안내 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 손님응대 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 물류센터 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 승진시스템 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 연봉체계 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 자주 물어보는 질문 (FAQ) </div><br>
                                        </div>
                                    </div>
                                </div>
                        	</div>
                        </div> 
                        <div class="col-lg-3">
                        	<div class="">
                        		<div class="card-header">
                                    <h2 class="m-1 font-weight-bold">4. 서포트</h2>
                                </div>
                        		<div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 마인드리퍼블릭은? </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 미션과 비젼 [2023] </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 사무실 내부 소개 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 지문인식 출입시스템 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 취업규칙 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 사무실 주차 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 오시는길 안내 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 손님응대 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 물류센터 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 승진시스템 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 연봉체계 </div><br>
                                            <div class="text-lg font-weight-bold text-uppercase mb-1"> 자주 물어보는 질문 (FAQ) </div><br>
                                        </div>
                                    </div>
                                </div>
                        	</div>
                        </div> 
                    </div>                    
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
</body>
</html>